Repository doctrine/doctrine-website, pull requests merged in 2023-09, with the labels that each got.

#521 Follow rakeroutes redirection
  source/contribute.rst
Labels: Documentation

#528 Increase code coverage for GitHub namespace
  config/config_test.yml
  lib/Github/GithubProjectContributors.php
  lib/Github/ProdGithubProjectContributors.php
  lib/Github/TestGithubProjectContributors.php
  tests/Github/GithubClientProviderTest.php
  tests/Github/ProdGithubProjectContributorsTest.php
Labels: Tests

#530 Increase code coverage for Hydrators namespace
  lib/Hydrators/SponsorHydrator.php
  phpstan.neon.dist
  tests/Hydrators/BlogPostHydratorTest.php
  tests/Hydrators/ContributorHydratorTest.php
  tests/Hydrators/DoctrineUserHydratorTest.php
  tests/Hydrators/Hydrators.php
  tests/Hydrators/PartnerHydratorTest.php
  tests/Hydrators/ProjectContributorHydratorTest.php
  tests/Hydrators/ProjectHydratorTest.php
  tests/Hydrators/SitemapPageHydratorTest.php
  tests/Hydrators/SponsorHydratorTest.php
  tests/Hydrators/TeamMemberHydratorTest.php
Labels: Tests

#529 Increase code coverage for Projects namespace
  config/services.xml
  lib/Projects/GetProjectPackagistData.php
  tests/Projects/GetProjectPackagistDataTest.php
  tests/Projects/GetTotalDownloadsTest.php
  tests/Projects/ProjectDataReaderTest.php
  tests/Projects/ProjectDataRepositoryTest.php
  tests/Projects/ProjectGitSyncerTest.php
  tests/test-projects/empty-json/composer.json
Labels: Tests

#531 Bump dependencies
  composer.lock
Labels: dependencies
